<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">DCI Sample Application</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "All Auctions", auctions_path %></li>
          <li><%= link_to "Sell an Item", new_auction_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
